/*
Colour Scheme:
  Pastel red: #F78888
  Mustard: #F3D250
  Light gray: #ECECEC
  Baby blue: #90CCF4
  Sky Blue: #5DA2D5
  Dark grey: #334747
*/


.content{
  position: absolute;
  top: 5rem;
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  background-image: url("./bg1.jpg");
  background-size: cover;
}

