.Signup , .Signin{
    text-align: center;
    display: inline-block;
    flex-direction: column;
    border: #334747 0.2rem solid 0.5rem;
    margin: 2rem auto;
    padding: 2rem;
    width: 60%;
    background-color: #F78888;
    border-radius: 3rem;
}


.fields{
    font-size: 2rem;
    list-style-type: none;
}

.fields li{
    padding-bottom: 2rem;
    color: #334747;
    color: white;
}

input{
    border: 0.2rem solid white;
    border-radius: 0.8rem;
    color: #334747b9;
    padding: 0.35rem;
    opacity: 0.8;
}

input:focus{
    outline: none;
    opacity: 1.0;
    background-color: rgba(255, 255, 255, 0.600);
}

#submit-button{
    border: 0.4rem solid white;
    border-radius: 2rem;
    background-color: #F78888;
    color: white;
    font-weight: bold;
    width: 10rem;
    height: 5rem;
    opacity: 1.0;
}

#submit-button:hover{
    border: 0.3rem solid #F78888;
    background-color: white;
    color: #F78888;
    opacity: 0.9;
}

#submit-button:active{
    border: 0.3rem solid #F78888;
    background-color: white;
    color: #F78888;
    padding: 0.4rem;
    animation: shrink-press 0.5s ease-in; 
}

@keyframes shrink-press {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }

    20% {
        transform: scale(0.85);
        opacity: 1.0;
    }

    70% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

.alert{
    color: rgb(3, 145, 3);
    font-size: 2rem;
    background-color: rgba(144, 204, 244, 0.50);
}